*{
    line-height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'Cairo', sans-serif;
    transition: background-color .5s, color .5s;
}
.header, .grid-container {
    max-width: 400px;
    max-height: 700px;
    margin: 0 auto;
}
.header {
    background: #F3FCFB;
    height: 40vh;
    position: relative;

    .switch {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 60px;
        height: 30px;
        background: transparent;
        border: 1px solid rgba(#535252, .5);
        border-radius: 25px;

        &__state {
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            border-radius: 25px;
            background: #FDFCFE;
            box-shadow: 1px 1px 4px black;
            transition: .5s;
        }
    }

    .result {
        text-align: right;
        width: 90%;
        font-size: 4em;
        position: absolute;
        overflow: hidden;
        right: 5%;
        bottom: 10%;
    }
}
.grid-container {
    padding: 10px;
    background: #FEFEFE;
    height: 60vh;
    display: grid;
    grid-gap: 2% 10%;
    grid-template-columns: repeat(4, 1fr);
    .operator, .clear, .sign-change{
        background: #F3FCFB;
    }
    .equal {
        background: #19D2A1;
        color: white;
    }
}
.grid-item {
    cursor: pointer;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
    font-size: 2em;
    border-radius: 50%;

    &__inner {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}


.dark-mode { 
    color: #07B284;
}
.switch_dark {
    background: #07B284 !important;
}
.grid-container_dark-mode {
    background: #2E3851;
}
.dark-mode-bg {
    background: #212C42 !important;
}
.number_dark-mode {
    color: #8C999F;
}
.equal_dark {
    color: #00493B !important;
}
