*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    font-family: Helvetica, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: .1vw solid rgba(120, 120, 120, 0.658);
    border-radius: 10px;
    overflow: hidden;
    width: 40%;
    height: 90vh;
    min-height: 360px;
    display: flex;
    flex-direction: column;
}

.header, .grid-container {
    width: 100%;
}
.header {
    flex-basis: 40%;
    background: #F3FCFB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2vh;

    .switch {
        cursor: pointer;
        overflow: hidden;
        width: 16vh;
        height: 8vh;
        background: transparent;
        border: 1px solid rgba(#535252, .5);
        border-radius: 8vh;
        position: relative;

        &__state {
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            border-radius: 8vh;
            background: #FDFCFE;
            outline: 1px solid rgba(#535252, .5);
            transition: .5s;
        }
    }

    .result {
        text-align: right;
        width: 80%;
        font-size: 12vh;
    }
}
.grid-container {
    flex-basis: 60%;
    padding: 3vh;
    background: #FEFEFE;
    display: grid;
    grid-gap: 2vh;
    grid-template-columns: repeat(4, 1fr);
    .operator, .clear, .sign-change , .delete{
        background: #fcf3f3;
    }
    .number, .dot {
        background: rgba(214, 214, 214, 0.196);
    }
    .equal {
        background: #19D2A1;
        color: white;
    }
}
.grid-item {
    display: flex;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform.3s;
}

.grid-item:hover {
    transform: scale(1.1);
}

.delete {
    position: relative;
}

.delete::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
}

.dark-mode { 
    color: #07B284;
}
.switch_dark {
    background: #07B284 !important;
}
.grid-container_dark-mode {
    background: #2E3851;
}
.dark-mode-bg {
    background: #212C42 !important;
}
.number_dark-mode {
    color: #8C999F;
}
.equal_dark {
    color: #00493B !important;
}


@media (max-width: 1000px) {
    .container {
        width: 100%;
        min-height: inherit;
        border: none;
        border-radius: 0;
    }
}